/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.info {
    padding: 6px 8px;
    font: 10 Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    h4{
        margin: 0 0 5px;
        color: #777;
    }
}  
p{margin-top:0px;margin-bottom: 0px !important;}
.mat-tab-label .mat-tab-label-content {color:#fff !important}
.mat-tab-labels {background-color:#000}
.mat-tab-body{padding-top:12px;}